*.swp
UpdateAttachmentsPlugin.md5
UpdateAttachmentsPlugin.sha1
UpdateAttachmentsPlugin.tgz
UpdateAttachmentsPlugin.txt
UpdateAttachmentsPlugin.zip
UpdateAttachmentsPlugin_installer
UpdateAttachmentsPlugin_installer.pl
